.about {

}

.about__title {
    font-size: 2em;
}

.about__container__count {
    display: flex;
    justify-content: space-between;
}

.about__count__box {
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__info {
    display: flex;
}

.about__container__service {
    display: flex;
    flex-wrap: wrap;
    margin: 200px 0;
}

.about__service__card {
    border: 1px solid #000;
}